body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}
/* Custom scrollbar for the sidebar */
.sidebar::-webkit-scrollbar {
    width: 8px;
}
.sidebar::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}
.sidebar::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}
.sidebar::-webkit-scrollbar-thumb:hover {
    background: #555;
}
